body {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2 {
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

#caption {
    color: white;
}

button {
    transition: color 200ms ease-in-out;
    margin-bottom: 3px;
    width: 150px;
    margin: auto;
    margin-bottom: 3px;
}

#container {
    color: white;
    border-style: dashed;
    border-radius: 6px;
    border-color: coral;
    font-size: 2em;
    padding: 20px;
    margin: 30px;
}