body {
    background-color: rgb(123, 96, 130);
}

h1, h2 {
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

#caption {
    color: white;
}

button {
    color: '';
    display: grid;
    border-radius: 7px;
    transition: color 200ms ease-in-out;
}

#container {
    position: fixed;
    display: grid;
    border-color: red;
    border-width: 2px;
    width: 200px;
    height: 400px;
}